* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #797979;
}

header {
  background: url("../slike/background.jpg");
  height: 40em;
  background-size: cover;
  padding: 2rem 20rem;
}
header nav {
  padding: 1rem;
  background: white;
}
header nav div {
  width: 20%;
  text-align: left;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
}
header nav div span {
  color: #ff3720;
}
header nav ul {
  display: inline-block;
  width: 70%;
  text-align: right;
}
header nav ul li {
  display: inline-block;
  margin-left: 1em;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
header h1 {
  margin-top: 20%;
  margin-left: 25%;
  color: white;
  font-weight: normal;
  border-bottom: 1px solid #ff3720;
  width: 50%;
  text-align: center;
}
header h3 {
  padding: 0.5rem;
  margin: auto;
  color: white;
  font-weight: normal;
  text-align: center;
  width: 50%;
}
header .dropdown {
  display: none;
}

section {
  background-color: #f0f0f0;
  white-space: nowrap;
  padding: 5rem;
}
section div {
  display: inline-block;
  width: 25%;
  text-align: center;
}
section div img {
  width: 70%;
}
section div button {
  background: #ff3720;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
}
section h1 {
  margin-bottom: 4em;
  text-align: center;
}

.table {
  background: white;
}
.table button {
  display: none;
}
.table table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto;
}
.table table th,
.table table td {
  padding: 1em;
  text-align: center;
}
.table table thead {
  background: #ff3720;
}
.table table thead tr th {
  color: white;
}
.table table thead tr th:first-child {
  background-color: #ff3720;
}
.table table tbody tr {
  border-bottom: 1px solid black;
}
.table table tbody tr td:first-child {
  background: #f0f0f0;
  font-weight: bold;
}

footer {
  padding: 1em 10rem;
  background: black;
}
footer:before, footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
footer .logo {
  font-size: 1.5em;
  border-bottom: 1px solid #ff3720;
}
footer .logo span {
  color: #ff3720;
}
footer .text {
  float: left;
}
footer .text p {
  color: white;
  font-style: italic;
}
footer iframe {
  float: right;
}

@media screen and (max-width: 992px) {
  header {
    padding: 1em;
  }
  header nav {
    padding: 0.5em;
  }
  header h1 {
    width: 95%;
  }

  section {
    white-space: normal;
    padding: 5em 1em;
  }
  section div {
    width: 49%;
    margin-bottom: 4em;
  }

  footer .logo {
    text-align: center;
    width: 100%;
  }
  footer .logo span {
    text-align: center;
  }
  footer .text {
    width: 100%;
    text-align: center;
  }
  footer iframe {
    width: 85%;
  }
}
@media screen and (max-width: 650px) {
  header {
    background: black;
    height: 30rem;
  }
  header nav {
    display: none;
  }
  header .dropdown {
    top: 10%;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  header .dropdown p {
    background-color: red;
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  header .dropdown .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: red;
  }
  header .dropdown .dropdown-content ul {
    list-style-type: none;
  }
  header .dropdown .dropdown-content ul li {
    display: block;
  }
  header .dropdown .dropdown-content ul li a {
    color: white;
    padding: 0.8rem 1rem;
    text-decoration: none;
    display: block;
  }
  header .dropdown .dropdown-content ul li a:hover {
    background-color: gray;
  }
  header .dropdown:hover .dropdown-content {
    display: block;
  }
  header h1 {
    font-size: 2em;
    margin: 1rem auto;
  }
  header h3 {
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
  }
  header section div {
    width: 100%;
    padding: 2rem;
  }
  header .table {
    text-align: center;
  }
  header .table table {
    display: none;
  }
  header .table button {
    justify-content: center;
    background: red;
    color: white;
    border: none;
    display: inline-block;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  header footer {
    margin: 0;
    padding: 2rem 2rem;
  }
  header footer .logo {
    padding: 0 1rem;
  }
  header footer .text {
    padding: 1rem 1rem;
  }
  header footer iframe {
    width: 75%;
    padding: 0 1rem;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
