@import "vars";
@import "mixins";

@include main;

header {
  background: url("../slike/background.jpg");
  height: 40em;
  background-size: cover;
  padding: 2rem 20rem;
  nav {
    padding: 1rem;
    background: white;
    div {
      width: 20%;
      text-align: left;
      display: inline-block;
      font-size: 2rem;
      font-weight: bold;
      span {
        color: $main_red;
      }
    }
    ul {
      display: inline-block;
      width: 70%;
      text-align: right;
      li {
        display: inline-block;
        margin-left: 1em;
        a {
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  h1 {
    margin-top: 20%;
    margin-left: 25%;
    color: white;
    font-weight: normal;
    border-bottom: 1px solid $main_red;
    width: 50%;
    text-align: center;
  }
  h3 {
    padding: 0.5rem;
    margin: auto;
    color: white;
    font-weight: normal;
    text-align: center;
    width: 50%;
  }
  .dropdown {
    display: none;
  }
}

section {
  background-color: $grey_background;
  white-space: nowrap;
  padding: 5rem;
  div {
    display: inline-block;
    width: 25%;
    text-align: center;
    img {
      width: 70%;
    }
    button {
      background: $main_red;
      color: white;
      border: none;
      padding: 0.5rem 1.5rem;
      margin-top: 0.2rem;
      cursor: pointer;
    }
  }
  h1 {
    margin-bottom: 4em;
    text-align: center;
  }
}

.table {
  background: white;
  button {
    display: none;
  }
  table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    th,
    td {
      padding: 1em;
      text-align: center;
    }
    thead {
      background: $main_red;
      tr {
        th {
          color: white;
        }
        th:first-child {
          background-color: $main_red;
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid black;
        td:first-child {
          background: $grey_background;
          font-weight: bold;
        }
      }
    }
  }
}
footer {
  padding: 1em 10rem;
  background: black;
  @include clearfix;

  .logo {
    font-size: 1.5em;
    border-bottom: 1px solid $main_red;
    span {
      color: $main_red;
    }
  }
  .text {
    float: left;
    p {
      color: white;
      font-style: italic;
    }
  }

  iframe {
    float: right;
  }
}

@include tablet {
  header {
    padding: 1em;
    nav {
      padding: 0.5em;
    }
    h1 {
      width: 95%;
    }
  }
  section {
    white-space: normal;
    padding: 5em 1em;
    div {
      width: 49%;
      margin-bottom: 4em;
    }
  }
  footer {
    .logo {
      text-align: center;
      width: 100%;
      span {
        text-align: center;
      }
    }
    .text {
      width: 100%;
      text-align: center;
    }
    iframe {
      width: 85%;
    }
  }
}

@include mobile {
  header {
    background: black;
    height: 30rem;
    nav {
      display: none;
    }
    .dropdown {
      top: 10%;
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: center;
      p {
        background-color: red;
        color: white;
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        background-color: red;
        ul {
          list-style-type: none;
          li {
            display: block;
            a {
              color: white;
              padding: 0.8rem 1rem;
              text-decoration: none;
              display: block;
            }
            a:hover {
              background-color: gray;
            }
          }
        }
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    h1 {
      font-size: 2em;
      margin: 1rem auto;
    }
    h3 {
      padding: 0;
      text-align: center;
      font-size: 1.2rem;
    }
    section {
      div {
        width: 100%;
        padding: 2rem;
      }
    }

    .table {
      text-align: center;
      table {
        display: none;
      }
      button {
        justify-content: center;
        background: red;
        color: white;
        border: none;
        display: inline-block;
        padding: 1rem 2rem;
        cursor: pointer;
      }
    }
    footer {
      margin: 0;
      padding: 2rem 2rem;
      .logo {
        padding: 0 1rem;
      }
      .text {
        padding: 1rem 1rem;
      }
      iframe {
        width: 75%;
        padding: 0 1rem;
        justify-content: center;
      }
    }
  }
}
